.message-container {
    display: flex;
    height: calc(100vh - 80px);
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.message-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.follow-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message-list-container{
    display: flex;
    height: 50vh;
}
