.app-conatiner {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.page-container{
    width: 100%;
    height: 100vh;
}

@media only screen and (max-width: 1200px) {
    .app-conatiner {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }
}

