:root {
    --primary-color: #F8FAFB;
    --secondary-color: #FFFFFF;
    --red-color: #F0304E;
    --purple-color: #AC7EFA;
    --blue-color:#638ECF;
    --black-color: #1B1D28;
    --font-color: #1B1D28;
    --font-light-color: #9E9FA4;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

.main {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
}

