.profile-container{
    background-color: var(--secondary-color);
    width: 24vw;
    height: 100%;
    border: solid 2px var(--primary-color); 

    -webkit-box-shadow: 0px 5px 32px -5px rgba(150,148,150,0.2);
    -moz-box-shadow: 0px 5px 32px -5px rgba(150,148,150,0.2);
    box-shadow: 0px 5px 32px -5px rgba(150,148,150,0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.profile-entry-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar-container{
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 2em;
}

.upload-overlay{
    position: absolute;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.upload-overlay:hover{
    opacity: 1;
}

.upload-avatar-input{
    display: none;
}

.form-label {
    font-weight: bold;
    width: 100%;
    align-content: center;
}

.form {
    width: 100%;
}

.form-footer{
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-detail-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user-info-container {
    margin:1em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.user-name {
    font-weight: bold;
    margin: 1em;
    color:var(--font-color);
}

.user-personal-description-container{
    width: 100%;
    margin-bottom: 1em;
}

.user-social-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 1em;
}

.user-social-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:var(--font-color);
}

.user-social-item-descrption{
    color: var(--font-light-color);
    font-weight: bold;
    font-size: 0.7em;
}

.user-social-item-number {
    font-weight: bold;
}

.avatar-border-container{
    display: flex;
    position: relative;
}

.avatar-border {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 3px solid transparent;

    
    background:linear-gradient(45deg,var(--red-color), var(--purple-color), var(--blue-color)) border-box; /*3*/
    -webkit-mask: /*4*/
        linear-gradient(#fff 0 0) padding-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out; /*5'*/
    mask-composite: exclude; /*5*/
}